In [11]:
import numpy
import pandas
import matplotlib.pyplot
import alpaca_trade_api as tradeapi
import requests
import time
from ta import macd
import numpy as np
from datetime import datetime, timedelta
from pytz import timezone
import pandas as pd
import yfinance as yf

In [17]:
print('Getting current ticker data...')
table=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
df = table[0]
#df.to_csv('S&P500-Info.csv')
#df.to_csv("S&P500-Symbols.csv", columns=['Symbol'])

Getting current ticker data...

In [18]:
df.head()

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [19]:
count = 0
tickers = ""
for ticker in df['Symbol']:
    count +=1
    tickers = tickers+ " " + ticker
    if count > 10:
        break
tickers = tickers[1:]
print(tickers)

MMM ABT ABBV ABMD ACN ATVI ADBE AMD AAP AES AFL

In [20]:
data = yf.download(tickers, start="2019-01-01", end="2020-01-01")

[*********************100%***********************]  11 of 11 completed

In [22]:
data['Volume']

,AAP,ABBV,ABMD,ABT,ACN,ADBE,AES,AFL,AMD,ATVI,MMM
Date,,,,,,,,,,,
2019-01-02,1291000,6908400,590000,8737200,2059300,2784100,5577700,4022100,87148700,7245700,2475200
2019-01-03,1514700,7653200,665300,10570700,2801300,3663500,7934700,4239700,117277600,8266400,3358200
2019-01-04,1423000,8910600,624300,8299100,2296400,4043400,6141100,4761500,111878600,9081900,2995100
2019-01-07,2088300,7281500,710600,9503000,2315600,3638500,4918900,3414400,107157000,9112100,2162200
2019-01-08,1604700,7478300,570700,8905100,2647800,3685900,4443700,3017000,121271000,12428700,2479800
...,...,...,...,...,...,...,...,...,...,...,...
2019-12-24,324200,1798800,387100,1067700,998500,1066400,986200,984700,44432200,1562900,1259500
2019-12-26,482300,4066700,464300,2033100,1059800,1055100,2224000,1830500,57562800,2325500,1435200
2019-12-27,487200,4087800,360500,2508100,1292200,1229800,2250400,1730900,36581300,3386200,1472900
2019-12-30,563400,7014800,619200,2706100,1193900,1896700,2491600,1593100,41149700,3028500,1715100
2019-12-31,609600,4702100,767700,3261100,1371000,1592300,6044800,2326700,31673200,3437800,1573500